.heading{

    background-color:cadetblue;
    
    }
    
    .introduction{
    
    background-color:lightblue;
    
    }
    
    .title{
    
    text-color:white;
    
    }
    
    .cuisine{
    
    background-color:aquamarine;
    
    }
    
    .footer{
    
    background-color:grey;
    
    }.heading{
    
    background-color:cadetblue;
    
    }
    
    .introduction{
    
    background-color:lightblue;
    
    }
    
    .title{
    
    text-color:white;
    
    }
    
    .cuisine{
    
    background-color:aquamarine;
    
    }
    
    .footer{
    
    background-color:grey;
    
    }